<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<nav class="navbar-expand-lg fixed-top navbar-dark" layout:fragment="nav">
		<div class="container">
			<img src="/images/icons/logo.png" th:src="@{images/icons/logo.png}" class="brand">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-
			formtarget="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span slass="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto>
					<li class="nab-item">
						<img src="/images/icons/heart.png" th:src="@{/images/icons/heart.png}">
						</li>
						<li>
							
						</li>
					</ul>"
				</div>
				
				
						</div>
	</nav>
</body>
</html>
